.image-bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.text-container {
  /* background-color: rgba(255, 255,255, 0.2); */
  /* border-radius: 60px; */
  /* border: 4px solid #1c5ad631; */
  overflow-y: auto;
  width: 500px;
  margin: 0 auto;
  top: 2cm;
  text-align: center;
  position: relative;
  color: #61dafb;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  animation: scroll 10s linear infinite;
}

